

/* pequenas telas: até 600px
celular: de 600 ate 768px
tablet: 768 ate 992
desktop: 992 ate 1200
grandes telas: acima de 1200px

*/


@media screen and (max-width: 768px) {

    header{
        background-color: #083162;
        color: white;
    }

    .header-block {
        position: relative;
    }

    .header-block > #logo > h1 {
        color: white;
    }
    .header-block > nav {
        background-color: rgb(7, 29, 70);
        width: 40vw;
        position: relative;
        float: left;
    }
    .header-block > nav a {
        display: block;
        color: white;
        width: 90%;
        padding: 20px;
        margin: 0px;
    }
    section .content{
        flex-flow: column nowrap;
        margin-bottom: 5px;
    }

    .content > img {
        align-self: center;
        width: 90vw;
        max-width: 100vw;
    }

    .content > .text {
        margin-top: 8vw 0px;
        text-align: center;
    }

    .text > p {
        max-width: 550px;
        padding: 20px;
    }
}