

/* pequenas telas: até 600px
celular: de 600 ate 768px
tablet: 768 ate 992
desktop: 992 ate 1200
grandes telas: acima de 1200px

*/

@media screen and (max-width: 1200px) {

    .content > .text > p{
        font-size: 2em;
    }

    .content > img {
        margin: 10px 0px 10px 10px;
    }

    .text > a {
        margin: 35px auto 5px auto;
        padding: 10px;
        font-size: 1em;
    }

}

@media screen and (max-width: 992px) {

    main > .home-start-block > #home-start {
        background-image: url(imagens/background-cafe-m3.png);
        background-attachment: fixed;
    }

    main > .home-start-block > #home-start > p {
        font-size: 3em;
        max-width: 600px;
        margin: 0px 0px;
        padding: 70px 0px 10px 50px;

    }

    .content > .text {
        box-shadow: none;
    }

    .content > .text > p {
        font-size: 1.6em;
    }

    .text > a {
        margin: 15px auto 0px auto;
    }
    
}


@media screen and (max-width: 768px) {


    .header-block > nav {
        display: none;
    }

    main > .home-start-block > #home-start {
        background-image: url(imagens/background-cafe_p1.png);
    }

    main > .home-start-block > #home-start > p {
        font-size: 2.7em;
        max-width: 540px;
        margin: 0px 0px;
        padding: 90px 0px 0px 40px;

    }

    section .content{
        flex-flow: column nowrap;
        margin-bottom: 5px;
    }

    .content > img {
        align-self: center;
        width: 90vw;
        height: 100%;
        max-width: 90vw;
        margin: 10px auto;
    }

    .content > .text {
        box-shadow: none;
    }

    #b2 > .content {
        margin-bottom: 0px;
    }

    .text > h1 {
        font-size: 4em;
    }
    .text > p {
        text-align: center;
        font-size: 1.8em;
        max-width: 600px;
        padding: 20px;
        margin: 20px;
    }  
    .text > a {
        font-size: 1.7em;
        padding: 20px;
        width: 250px;
        border-radius: 45px;
        margin: 20px auto 70px auto;
    }

    section > #white-mid {
        background-image: url(imagens/mid-cafe_p6.png);
        background-attachment: fixed;
    }

    #white-mid > #text {
        height: 480px;
    }

    #white-mid > #text > h1 {
        font-size: 0.9em;
    }

    #white-mid > #text > p {
        font-size: 0.9em;
        max-width: 400px;
        text-align: justify;
    }
}



@media screen and (max-width: 600px) {
    main > .home-start-block > #home-start > p {
        
        max-width: 600px;
        margin: 0px;
        padding: 40px 5px 10px 15px;

    }

    .text > p {
        text-align: center;
        font-size: normal;
        font-weight: lighter;
        font-size: 1.8em;
        padding: 20px;
    }  
}


