@charset "UTF-8";

@font-face {
    font-family: 'Chewy';
    src: url(fonte/Chewy/Chewy-Regular.ttf) format(truetype);

}

:root {
    --text-color: #dbd7d7;
    --cor1: #603b28;
    --main-font:'Chewy';
    --standard-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
}

header {
    width: 100%;
    padding: 20px;
    margin-bottom: 3px;
    background-color: #615149;
}

header:hover {
    background-color: #615149;
    color: white;
}

header > .header-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#logo > h1 {
    font-size: 3em;
    margin: 20px;
    color: #dbd7d7;
    font-family: var(--main-font);
}
#logo > img {
    width: 80px;
}

.header-block > nav {
    align-self: flex-end;
    padding: 10px;
    margin-right: 20px;
}

.header-block > nav > a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    margin: 10px;
}

header:hover a {
    color: white;

}

main > #lojas {
    height: 50px;
    line-height: 50px;
    margin: auto;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    background-color: #855f38;
    
}

main > .home-start-block {
    background-color: #603b28;
}

main > .home-start-block > #home-start {
    background-image: url(imagens/background-cafe.png);
    background-repeat: no-repeat;
    min-height: 600px;
    background-color: #603b28;
    max-width: 1600px;
    margin: auto;
    background-attachment: fixed;
    background-position: center top;
}

main > .home-start-block > #home-start > p {
    color: var(--text-color);
    max-width: 650px;
    font-size: 3.5em;
    font-weight: bolder;
    margin-left: 40px;
    padding: 80px 10px 10px 15px;
}

main > section {
    margin: auto;
}

#b1 {
    background-color: #08625a;
}

#b2 {
    background-color: #083f62;
}

#b3 {
    background-color: #1c1d1e;
}

#b4 {
    background-color: #141314;
}


.content {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1600px;
    margin: auto;
    margin-bottom: 10px;
}

.content > img {
    width: 40vw;
    margin: 25px;
    max-width: 700px;
}

.content > .text {
    display: flex;
    margin: auto;
    max-width: 700px;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    align-self: center;

    border-radius: 30px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.226);
}

.text > a {
    text-decoration: none;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.226);
    width: 150px;
    margin: 40px auto;
    border-radius: 20px;
    color: var(--text-color)

}

.text > h1 {
    margin-top: 3vw;
    font-size: 2em;
    color: var(--text-color)
}
.text > p {
    font-size: 1.4em;
    color: var(--text-color);
    margin: auto;
    padding: 0px 3vw;
    text-align: justify;
}

section > #white-mid {
    background-image: url(imagens/mid-cafe.png);
    height: 600px;
    background-position: top right;
    background-repeat: no-repeat;
    max-width: 1300px;
    margin: auto;
    font-family: var(--standard-font);
}


#white-mid > #text {
    color: #737070;
    max-width: 550px;
    padding: 20px;
    font-size: 2.5em;
    margin-left: 40px;
    height: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#text > p {
    padding: 15px;
    background-color: #855f3821;
    border-radius: 30px;
    max-width: 600px;
}



footer {
    height: 100px;
    background-color: #06203f;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 1.3em;
}